<!DOCTYPE html>
<html ng-app='contactsApp'>

  <head>
    <meta charset='utf-8'>
    <title>Contacts App</title>

    <meta name='description' content='A very basic web interface for a database that stores contact information data in a relational database, and displays the information back to the user.'>
    <meta name='author' content='Samina Chhatwal'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

    <link rel='stylesheet' href='css/styles.css' type='text/css'>
  </head>

  <body>
    <header>
      <h1>Contacts App</h1>
    </header>

    <main ng-controller='ContactsController as contactsCtrl'>
      <form name='contactForm' ng-submit='contactsCtrl.saveContact(contactsCtrl.contact)'>
        <div>
          <label for='firstName'>First Name</label>
          <input id='firstName' name='firstName' type='text' placeholder='Jane' ng-model='contactsCtrl.contact.firstName'>
        </div>
        <div>
          <label for='lastName'>Last Name</label>
          <input id='lastName' name='lastName' type='text' placeholder='Doe' ng-model='contactsCtrl.contact.lastName'>
        </div>
        <div>
          <label for='email'>Email Address</label>
          <input id='email' name='email' type='email' placeholder='jane.doe@gmail.com' ng-model='contactsCtrl.contact.emailAddress'>
        </div>
        <div>
          <label for='phone'>Phone Number</label>
          <input id='phone' name='phone' type='tel' placeholder='284-245-9876' ng-model='contactsCtrl.contact.phoneNumber'>
        </div>
        <div>
          <label for='company'>Company Name</label>
          <input id='company' name='company' type='text' placeholder='Awesome Company' ng-model='contactsCtrl.contact.companyName'>
        </div>
        <input type='submit'>
      </form>

      <table ng-show='contactsCtrl.contactList.length > 0'>
        <h3 ng-show='contactsCtrl.contactList.length > 0'>Contact List</h3>
        <colgroup span='5'></colgroup>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Address</th>
          <th>Phone Number</th>
          <th>Company</th>
          <th></th>
        </tr>
        <tr ng-repeat='person in contactsCtrl.contactList track by $index'>
          <td>{{person.firstName}}</td>
          <td>{{person.lastName}}</td>
          <td>{{person.emailAddress}}</td>
          <td>{{person.phoneNumber}}</td>
          <td>{{person.company}}</td>
          <td>
            <button ng-click='contactsCtrl.deleteContact(person.emailAddress)'>
              Delete Contact
            </button>
          </td>
        </tr>
      </table>

    </main>


    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js'></script>
    <script src='app/main.js'></script>
  </body>

</html>
